In [1]:
##### import pandas as pd
import persist_ext as PR
import altair as alt
from vega_datasets import data

In [2]:
cars = data.cars()
cars.head()

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
# vis = PR.vis.interactive_table(cars)
# # vis = PR.vis.scatterplot(cars, y="Vertical_inches:Q", x="Elevation_feet:Q")
# vis

In [4]:
vis = PR.vis.scatterplot(cars, y="Miles_per_Gallon:Q", x="Weight_in_lbs:Q")
# a = vis.body_widget.chart
vis

OutputWithTrrackWidget(body_widget=VegaLiteChartWidget(debounce_wait=250.0, df_column_dtypes={'__id_column': '…

In [5]:
# PR.vis.TrrackableChart(a | a | a | a)
vis.body_widget.data

,__id_column,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin,__selected,__selected_intent,__annotations
0,1,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,0,USA,False,False,No Annotation
1,2,buick skylark 320,15.0,8,350.0,165,3693,11.5,0,USA,False,False,No Annotation
2,3,plymouth satellite,18.0,8,318.0,150,3436,11.0,0,USA,False,False,No Annotation
3,4,amc rebel sst,16.0,8,304.0,150,3433,12.0,0,USA,False,False,No Annotation
4,5,ford torino,17.0,8,302.0,140,3449,10.5,0,USA,False,False,No Annotation
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,402,ford mustang gl,27.0,4,140.0,86,2790,15.6,378691200000,USA,False,False,No Annotation
402,403,vw pickup,44.0,4,97.0,52,2130,24.6,378691200000,Europe,False,False,No Annotation
403,404,dodge rampage,32.0,4,135.0,84,2295,11.6,378691200000,USA,False,False,No Annotation
404,405,ford ranger,28.0,4,120.0,79,2625,18.6,378691200000,USA,False,False,No Annotation
405,406,chevy s-10,31.0,4,119.0,82,2720,19.4,378691200000,USA,False,False,No Annotation

In [6]:
# cars["s"] = False
# cars["index"] = cars.index + 1
# cars.loc[cars.sample(n=30).index, "s"] = True
# c = cars.set_index("index")
# c = c[c.s]
# c.s.to_dict()

# vis.body_widget.chart.to_dict()

In [7]:
# PR.vis.barchart(cars, x="utcyear(Year):O", y="count():Q")

In [8]:
# import json

# possible_dtypes = ["Int64", "Float64", "string", "boolean", "datetime64[ns]"]

# cars = data.cars()


# col_map = dict()
# c = cars.convert_dtypes()
# c["Test"] = False
# c = c.convert_dtypes()


# for column in c:

#     col = c[column]
#     current_dtype = col.dtype
    
#     if current_dtype not in possible_dtypes:
#         continue
#     for new_dtype in possible_dtypes:
#         try:
#             cc = col.astype(new_dtype)
#             if str(current_dtype) not in col_map:
#                 col_map[str(current_dtype)] = set()
#             col_map[str(current_dtype)].add(new_dtype)
#             print()
#             print(column, "----------->", current_dtype)

#             print(cc.head())
#             print()
#         except:
#             # print("Cannot convert", column, current_dtype, new_dtype)
#             continue
#     print("--")

# print(json.dumps({k: list(v) for (k,v) in col_map.items()}, indent=2))

In [9]:
cars.Year.astype(str)

0      1970-01-01
1      1970-01-01
2      1970-01-01
3      1970-01-01
4      1970-01-01
          ...
401    1982-01-01
402    1982-01-01
403    1982-01-01
404    1982-01-01
405    1982-01-01
Name: Year, Length: 406, dtype: object

In [10]:
cars.astype(str)

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA
...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA

In [11]:
cars = data.cars()
cars

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA
...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA

In [12]:
cars["Miles_per_Gallon"] = cars["Miles_per_Gallon"].astype(str)
cars

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA
...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA

In [13]:
cars["Test"] = "--"

cars

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin,Test
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA,--
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA,--
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA,--
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA,--
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA,--
...,...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA,--
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe,--
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA,--
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA,--
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA,--